{
  "env": {
    "es2021": true
  },
  "extends": ["@logux/eslint-config", "plugin:react/recommended"],
  "rules": {
    "perfectionist/sort-interfaces": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
